# modelling requirements
-r src/modelling/requirements.txt

# development and version control requirements
mypy==1.19.1
pre-commit==4.5.1
-i https://download.pytorch.org/whl/cpu
torch==2.9.1+cpu
-i https://download.pytorch.org/whl/cpu
torchvision==0.24.1+cpu
types-tqdm==4.67.0